{% extends 'front/front_base.html' %}

{% block title %}更换手机号{% endblock %}


{% block head %}
    <style>
        .form-container{
            width: 300px;
        }
    </style>
    <script src="{{ url_for('static', filename='front/js/reset_telephone.js') }}"></script>
    <link href="{{ url_for('static', filename='front/css/front_signbase.css') }}" rel="stylesheet">
    <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>



{% endblock %}

{% block main_content %}
    <form action="" method="post">
        <div class="form-container">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" name="telephone" placeholder="新手机号">
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="sms-captcha-btn">
                            发送验证码
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <input type="text" name="sms_captcha" class="form-control" placeholder="短信验证码">
            </div>
            {% include 'front/front_granh_captcha.html' %}
            <div class="form-group">
                <button class="btn btn-primary" id="submit">立即修改</button>
            </div>
        </div>
    </form>
{% endblock %}







